html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    min-height: 100vh;
}

header {
    height: 7.5rem;
    width: 100%;
    background-color: #003C47;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-label {
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
}


/* Footer - Début */
footer {
    margin-top: 5rem;
    background-color: #003C47;
    /* position: fixed; */
    /* bottom: 0; */
    height: 7.55rem;
    width: 100%;
}

/* Footer - Fin */

.container {
    margin: 5rem !important;
    width: 100%;
    min-height: 100vh;
}

main {
    width: 80%;
    padding-left: 5rem;
}

aside {
    width: 20%;
    padding: 0 ;
}

#aside-nav {
    padding: 0 !important;
}


#functionality-container, #my-functionality-container, #functionality-premium-container {
    /* margin-bottom: 5rem; */
    /* padding-top: 3rem; */
    min-height: 10rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 1rem;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.functionality {
    color: white;
    background-color: #287b8a;
    border: 1px solid #287b8a;
    border-radius: 1rem;
    padding: 2rem 2.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}
.functionality:hover {
    background-color: white;
    border: 1px solid #287b8a;
    color: #287b8a;
}

.btn-delete {
    border: none;
    background-color: transparent;
    color: white;
    margin-left: 1.5rem
}

.btn-delete:hover {
    color: red;
}

li {
    color: black;
}

.nav-link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    /* height: 100%;
    width: 100% */
    padding: 2rem 1.5rem;

}

.active {
    background-color: #287b8a;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
}
.active:hover {
    background-color: #287b8a !important;
    color: white !important;
    font-weight: bold !important;
}

.nav-link:hover {
    font-weight: bold;
    background-color: #f6f6f6;
    color: black;
}

.disabled {
    background-color: #c0c0c0;
    border: none;
}

.disabled:hover {
    background-color: #c0c0c0;
    border: none;
    color: white;
    cursor: default;
}

.btn-premium {
    background-color: white;
    color: #287b8a;
    border: 2px solid #287b8a;
    border-radius: 1rem;
    text-decoration: none;
    padding: 1rem 1.6rem;
    font-weight: bold;
}

.btn-premium:hover {
    color: white;
    background-color: #287b8a;
    border-color: #287b8a;
}

#modalOpen {
    font-size: 3.6rem;
    color: white;
    background-color: #40494b;
    border: 1px solid #40494b;
    border-radius: 50%;
    padding: 1rem 2.7rem;
    z-index: 99999;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
}

#modalOpen:hover {
    background-color: white;
    color: #40494b;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .ml-auto {
      margin-left: auto;
  }

  .modal-content {
      width: 50rem;
  }

  .custom-list {
      padding: 0 !important;
  }
  .custom-list-item {
      padding: 1rem 1.5rem;
      border: 1px solid #888;
      border-bottom: none;
  }

  .custom-list-item:hover {
      cursor: pointer;
      background-color: #888;
      color: white;
  }

  .item-active {
      background-color: #287b8a;
      color: white;
      font-weight: bold;
  }

  .custom-list-item:last-child {
      border-bottom: 1px solid #888;
  }

  .block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 1px solid #003C47;
      height: 50rem;
  }

  .btn-delete-block {
      margin-left: auto;
      margin-top: 1rem;
      border: none;
      background: transparent;
      font-size: 2rem;
      color: black;
  }

  .btn-delete-block:hover {
      color: red;
  }

  .block-label {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    /* width: -webkit-fill-available; */

  }