html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Everett', sans-serif;
    color: black;
    min-height: 100vh;
}

header {
    height: 7.5rem;
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Galyon', sans-serif;
}

#logo-header {
    width: 150px;
}

.ham {
    position: absolute;
    /* always keep ham on top of everything */
    z-index: 1000;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* show the menu image */
    background-image: url("../public/images/ham.png");
    background-size: 100%;
}

.showClose {
    background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    /* hide the menu above the screen by default */
    transform: translateY(-100%);
    /* transition adds a little animation when sliding in and out the menu */
    transition: transform 0.2s ease;
}

.showNav {
    /* show the menu */
    transform: translateY(0);
}

/* basic nav styling below */

.navbar ul {
    width: 100%;
    height: 50%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .navbar ul li a {
    color: white;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    text-decoration: none;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 2.4rem;
  }
  
  .navbar ul li a:hover, .navbar ul li a:focus {
    border-bottom: 2px solid white;
  }

#header-label {
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
}


/* Footer - Début */
footer {
    margin-top: 5rem;
    background-color: #f6f6f6;
    /* background-color: #003C47; */
    /* position: fixed; */
    /* bottom: 0; */
    color: black;
    height: 7.55rem;
    width: 100%;
}

/* Footer - Fin */

.container {
    /* margin: 5rem !important; */
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
    width: 100%;
    min-height: 100vh;
}

main {
    /* width: 80%;
    padding-left: 5rem; */
    width: 100%;
}

h1 {
    text-align: center;
}

aside {
    width: 20%;
    padding: 0 ;
}

#aside-nav {
    padding: 0 !important;
}


#functionality-container, #my-functionality-container, #functionality-premium-container {
    /* margin-bottom: 5rem; */
    /* padding-top: 3rem; */
    min-height: 10rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 2.5rem;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.functionality {
    color: white;
    background-color: rgba(97, 77, 221, 75%);
    border: 1px solid rgba(97, 77, 221, 75%);
    border-radius: 2.5rem;
    padding: 2rem 2.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}
.functionality:hover {
    background-color: white;
    border: 1px solid rgba(97, 77, 221, 75%);
    color: rgba(97, 77, 221, 75%);
}

.btn-delete {
    border: none;
    background-color: transparent;
    color: white;
    margin-left: 1.5rem
}

.btn-delete:hover {
    color: red;
}

li {
    color: black;
}

.nav-link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    /* height: 100%;
    width: 100% */
    padding: 2rem 1.5rem;

}

.active {
    background-color: rgba(97, 77, 221, 75%);
    color: white;
    font-weight: bold;
    border-radius: 1rem;
}
.active:hover {
    background-color: rgba(97, 77, 221, 75%) !important;
    color: white !important;
    font-weight: bold !important;
}

.nav-link:hover {
    font-weight: bold;
    background-color: #f6f6f6;
    color: black;
}

.disabled {
    background-color: #c0c0c0;
    border: none;
}

.disabled:hover {
    background-color: #c0c0c0;
    border: none;
    color: white;
    cursor: default;
}

.btn-premium {
    background-color: white;
    color: rgba(97, 77, 221, 75%);
    border: 2px solid rgba(97, 77, 221, 75%);
    border-radius: 1rem;
    text-decoration: none;
    padding: 1rem 1.6rem;
    font-weight: bold;
}

.btn-premium:hover {
    color: white;
    background-color: rgba(97, 77, 221, 75%);
    border-color: rgba(97, 77, 221, 75%);
}

#modalOpen {
    font-size: 1.6rem;
    color: white;
    background-color: #535461;
    border: 1px solid #535461;
    border-radius: 0.6rem;
    /* padding: 1rem 2.7rem; */
    width: 11.2rem;
    height: 11.2rem;
    z-index: 99999;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fs-12 {
    font-size: 1.2rem;
}

#modalOpen:hover {
    background-color: white;
    color: #535461;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .ml-auto {
      margin-left: auto;
  }

  .modal-content {
      width: 50rem;
  }

  .custom-list {
      padding: 0 !important;
  }
  .custom-list-item {
      padding: 1rem 1.5rem;
      border: 1px solid #888;
      border-bottom: none;
  }

  .custom-list-item:hover {
      cursor: pointer;
      background-color: #888;
      color: white;
  }

  .item-active {
      background-color: rgba(97, 77, 221, 75%);
      color: white;
      font-weight: bold;
  }

  .custom-list-item:last-child {
      border-bottom: 1px solid #888;
  }

  .block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 4px solid #E7E7E7;
      height: 50rem;
      width: 48%;
      background-color: #E7E7E7;
      /* border: none; */
      border-radius: 2.5rem;
      padding: 0 !important;
      margin-bottom: 1rem;
  }

  .block-header {
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    border-radius: 2.5rem;
  }

  .btn-delete-block {
      margin-left: auto;
      margin-top: 1rem;
      border: none;
      background: transparent;
      font-size: 2rem;
      color: black;
  }

  .btn-delete-block:hover {
      color: red;
  }

  .block-label {
    /* width: 100%;
    text-align: center; */
    font-weight: bold;
    font-size: 2rem;
    /* width: -webkit-fill-available; */
    font-family: 'Galyon', sans-serif;

  }

  .block-body {
    background-color: #F6F5F5;
    height: calc(100% - 44px);
    width: 100%;
    border-radius: 2.5rem;
    padding: 1rem;
  }

.notif {
    width: 577px;
    height: 162px;
    display: flex;
    flex-direction: row;
    background-color: #8BA5FF;
    border-radius: 12px;
    padding: 10px;
    position: absolute;
    top: 85px;
    right: 10px;
}

.notif-img {
    width: 79px;
    height: 79px;
    margin: 40px;
}

.notif-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fill-available;
}

button.closeNotif {
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.notif-link {
    /* font-weight: bold; */
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 120px;
    margin-right: 10px;
}

.notif-link:hover {
    color: rgba(97, 77, 221, 75%);
    text-decoration: none;
}

.notif-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
}
